    <p>Signal Data Files</p>
    <ul>
        <li>
            Import the results file.
        </li>
    </ul>
    <div class="signaldata-upload-target">
        <table class="lk-fields-table">
            <tr>
                <td class="labkey-form-label">Data:</td>
                <td>
                    <div class="signaldata-upload-json"></div>
                </td>
            </tr>
        </table>
        <div class="signaldata-upload-button"></div>
    </div>
    <div class="signaldata-upload-result-files"></div>


<script type="application/javascript">
    (function($) {
        var context = <%=webpartContext%>;
        var metadataFormElId = LABKEY.Utils.id();
        var metadataJsonId = LABKEY.Utils.id();
        var buttonId = LABKEY.Utils.id();
        var fileUploadElementId = LABKEY.Utils.id();

        $('#' + context.wrapperDivId + ' .signaldata-upload-target').attr('id', metadataFormElId);
        $('#' + context.wrapperDivId + ' .signaldata-upload-json').attr('id', metadataJsonId);
        $('#' + context.wrapperDivId + ' .signaldata-upload-button').attr('id', buttonId);
        $('#' + context.wrapperDivId + ' .signaldata-upload-result-files').attr('id', fileUploadElementId);

        LABKEY.SignalData.initializeUploadForm(metadataFormElId, metadataJsonId, buttonId, fileUploadElementId);

    })(jQuery);
</script>